/* app css stylesheet */

.nav, .navbar-header, h1, h2, h3 {
  font-family: Courier;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body, html {
    height: 100%;
}

.parallax {

    /* Full height */
    height: 650px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center 100px;
    background-repeat: no-repeat;
}

.parallax-hh {
  background-image: url("img/hh.jpg");
}

.parallax-bex {
  background-image: url("img/bex.jpg");
}

.parallax-amnh {
  background-image: url("img/amnh.jpg");
}

.parallax-lfh {
  background-image: url("img/lfh.jpg");
}

.parallax-ucs {
  background-image: url("img/ucs.jpg");
}

.parallax-fcgp {
  background-image: url("img/fcgp.jpg");
}

.parallax-cbpf {
  background-image: url("img/cbpf.jpg");
}

img.logo {
  width:90%;
  margin-left: 5%;
}

.skills-container {
  padding-top: 60px;
  background-color: #eee;
}

.testimonials {
  background-color: #eee;
}

.testimonials hr {
  border-top: 1px solid #222;
}

.career h1 {
  padding-top:45px;
}

.intro div, .testimonials div{
  overflow:hidden;
}

.intro div.lead {
  padding-top: 15px;
}

.projects .row {
  padding-top: 60px;
  padding-bottom:20px;
  border-bottom: 2px solid #eee;
}

.projects h3 {
  font-size: 20px;
}

.testimonials .row, .career .row {
  padding-top: 60px;
}

.spacer {
  height: 100px;
}
.intro, .testimonials, .career {
  padding-top:10px;
}

.skill ul{
  padding-left: 17px;
}

.testimonials .lead {
  padding-top: 25px;
}

.job-content {
  padding-top: 20px;
}

.jumbotron {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #a5a3a4;
  background-image: url(assets/headshot/amitchell.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.jumbotron-logo {
  padding-top: 8%;
  padding-bottom: 2%;
}

.jumbotron-text {
  font-family: Courier;
  font-size: 1.3em !important;
  max-width: 35%;
  text-align: right;
  clear:right;
}

@media (max-width: 1000px) {
  .jumbotron {
    background-image: none;
  }
}

@media (max-width: 575px) {
  .jumbotron-logo {
    width: 50%;
  }
  .jumbotron-text {
    max-width: 80%;
  }
}