/* app css stylesheet */

.nav, .navbar-header, h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1.text-center {
  width: 100%;
  background-color: #ebb564;
  padding: 15px 0;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body, html {
    height: 100%;
}

.parallax {

    /* Full height */
    height: 650px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.parallax-hh {
  background-image: url("img/hh.jpg");
}

.parallax-bex {
  background-image: url("img/bex.jpg");
}

.parallax-amnh {
  background-image: url("img/amnh.jpg");
}

.parallax-lfh {
  background-image: url("img/lfh.jpg");
}

.parallax-ucs {
  background-image: url("img/ucs.jpg");
}

.parallax-fcgp {
  background-image: url("img/fcgp.jpg");
}

.parallax-cbpf {
  background-image: url("img/cbpf.jpg");
}

img.logo {
  width:90%;
  margin-left: 5%;
}

.jump {
  padding-bottom: 40px;
  display: inline-block;
}

.grey {
  background-color: #eee;
}

.grey hr {
  border-top: 1px solid #222;
}

.intro div, .testimonials div{
  overflow:hidden;
}

.testimonials .lead {
  font-style: italic;
}

div.lead, .job-content {
  padding-top: 15px;
}

.projects .row {
  padding-bottom:20px;
  border-bottom: 2px solid #eee;
}

.projects h3 {
  font-size: 20px;
}

.skill ul{
  padding-left: 17px;
}

.jumbotron {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #a5a3a4;
  background-image: url(assets/headshot/adam_mitchell_c_full.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: 5px solid #ebb564;
}

.jumbotron-logo {
  padding-top: 10%;
  padding-bottom: 2%;
}

.jumbotron-text {
  font-family: Courier;
  font-size: 1.3em !important;
  max-width: 35%;
  text-align: right;
  clear:right;
}

@media (max-width: 1000px) {
  .jumbotron {
    background-image: none;
  }
}

@media (max-width: 575px) {
  .jumbotron-logo {
    width: 50%;
  }
  .jumbotron-text {
    max-width: 80%;
  }
  .parallax {
    display: none;
  }
}

.even {
  background-color: #fff;
  color: #1a0b00;
}

.even .callout {
  background-color: #ebb564;
  color: #1a0b00;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  margin: 25px 0;
}

.odd {
  background-color: #eee;
  color: #000E1A;
}

.odd .callout {
  background-color: #8ca2b9;
  color: #000E1A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  margin: 25px 0;
}

.callout .quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}

.attribution span {
  font-style: italic;
}

.job-project {
  padding: 10px 15px;
}

.job-project h3, .job-project h5, .job-project p {
  margin:0;
}

.job-project.odd, .skill.odd {
  background-color: #8ca2b9;
}

.job-project.odd, .job-project.even {
  width: 90%;
  min-width:90%;
}

.job-project.highlight {
  background-color: #ebb564;
  color: #1a0b00;
  width: 100% !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}